.Card {
  border: 1px solid $second-color;
  border-radius: 10px;
  width: 200px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.35s;
  &:hover {
    transform: scale(1.05);
  }
  .container {
    // border: 1px solid green;
  }
  .image {
    img {
      border-radius: 10px 10px 0 0;
      @include size(100%);
      object-fit: cover;
    }
  }
  .content {
    padding: 0 10px;
    // border: 1px solid black;
  }
}
