// @import "../../../scss/variables/colors";
.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  @include size(100%, 50px);
  @include flex(row, space-evenly, center, 0, nowrap);
  @include space-around(0, 0, 20px);
  background-color: $second-color;
  box-sizing: border-box;
  .item {
    text-decoration: none;
    color: $third-color;
    // &::after {
    //   content: "";
    //   width: 0;
    //   height: 1px;
    //   position: absolute;
    //   bottom: 12px;
    //   right: 10px;
    //   background-color: $third-color;
    //   transition: width $fast ease-in-out;
    // }
    // &:hover {
    //   &::after {
    //     width: 45px;
    //   }
    // }
  }
}
